.navbar {
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

#cabecera-login{
    font-size: 80%;
    background-color: skyblue;
}


/* Adaptable Responsivo */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}
#login-user{
    background-color:lightcyan;
}